<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />

		<title>SurgeSaver</title>
		<meta name="description" content="" />
		<meta
			name="author"
			content="Anubis Watal, Neil Kothari, Tessa Danehy & Lukas Houpt"
		/>

		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<link
			href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
			integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
			crossorigin="anonymous"
		/>
		<link
			rel="stylesheet"
			type="text/css"
			href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
		/>
		<link href="index.css" rel="stylesheet" />

		<link rel="icon" type="image/png" href="icon.png" />

		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
		<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
	</head>

	<body>
		<div id="surge">
			<div class="navigationContainer">
				<div class="logoContainer">
					<img class="logo" src="logo.png" />
				</div>
				<hr class="underLogo" />
				<div class="navigation">
					<div class="navHeader">
						<p>USER</p>
					</div>
					<div
						class="navigationItem"
						:class='{ selected: currentPage==="Home" }'
						@click='changePage("Home")'
					>
						<div class="navSec">
							<p><i class="fa fa-home"></i> Home</p>
						</div>
						<div v-if='currentPage==="Home"' class="navigationHighlight"></div>
					</div>
					<div
						v-if="analyticsZipCode"
						class="navigationItem"
						:class='{ selected: currentPage==="Analytics" }'
						@click='changePage("Analytics")'
					>
						<div class="navSec">
							<p><i class="fa fa-chart-line"></i> Analytics</p>
						</div>
						<div
							v-if='currentPage==="Analytics"'
							class="navigationHighlight"
						></div>
					</div>
					<div class="navHeader">
						<p>GENERAL</p>
					</div>
					<div
						class="navigationItem"
						:class='{ selected: currentPage==="About" }'
						@click='changePage("About")'
					>
						<div class="navSec">
							<p><i class="fa fa-atom"></i> About</p>
						</div>
						<div v-if='currentPage==="About"' class="navigationHighlight"></div>
					</div>
					<div
						class="navigationItem"
						:class='{ selected: currentPage==="FAQ" }'
						@click='changePage("FAQ")'
					>
						<div class="navSec">
							<p><i class="fa fa-life-ring"></i> FAQ</p>
						</div>
						<div v-if='currentPage==="FAQ"' class="navigationHighlight"></div>
					</div>
				</div>
			</div>

			<div class="surgeInfoContainer">
				<div class="onlyMobile mLogo">
					<i
						class="logoSideMenu fa fa-bars"
						v-if="!mobileMenuOpen"
						@click="toggleMobileMenu()"
					></i>
					<i
						class="logoSideMenu fa fa-times"
						v-if="mobileMenuOpen"
						@click="toggleMobileMenu()"
					></i>
					<div class="logoContainer" @click='changePage("Home")'>
						<img class="logo" src="logo.png" />
					</div>
					<i class="logoSideMenu"></i>
				</div>
				<div class="onlyMobile mNavContainer" v-if="mobileMenuOpen">
					<div
						class="mNavItem"
						:class='{ mselected: currentPage==="Home" }'
						@click='changePage("Home")'
					>
						<p><i class="fa fa-home"></i> Home</p>
					</div>
					<div
						class="mNavItem"
						v-if="analyticsZipCode"
						:class='{ mselected: currentPage==="Analytics" }'
						@click='changePage("Analytics")'
					>
						<p><i class="fa fa-chart-line"></i> Analytics</p>
					</div>
					<div
						class="mNavItem"
						:class='{ mselected: currentPage==="About" }'
						@click='changePage("About")'
					>
						<p><i class="fa fa-atom"></i> About</p>
					</div>
					<div
						class="mNavItem"
						:class='{ mselected: currentPage==="FAQ" }'
						@click='changePage("FAQ")'
					>
						<p><i class="fa fa-life-ring"></i> FAQ</p>
					</div>
				</div>
				<div class="surgePageContent" id="Home" v-if='currentPage==="Home"'>
					<div class="title">
						<h1>
							Save Money. <br class="onlyMobile" />
							Save the Planet.
						</h1>
					</div>
					<div class="underTitle onlyDesktop"></div>
					<div class="infoContainer">
						<div class="section" v-for="hs in homeInfoSections">
							<div class="floater" @click="hs.click()">
								<h3 class="sectionHeader">{{hs.title}}</h3>
								<div class="regIconContainer">
									<i class="bigIcon fa" :class="hs.icon"></i>
								</div>
								<p>{{hs.content}}</p>
							</div>
						</div>
					</div>
					<div class="surgeInputs">
						<p class="inputTitle">Zipcode</p>
						<input
							v-model="analyticsZipCodeInput"
							@keyup.enter="setZipcode()"
							:class="{ invalid: !validZipCodeInput }"
							id="zI"
						/>
						<a class="btn" @click="goToAnalytics()" v-if="analyticsZipCode"
							>Go To Analytics</a
						>
						<h4 class="inputTexts" v-if="analyticsZipCode">
							Where should we send Peak Hour Notifications?
						</h4>
						<p class="inputTitle" v-if="analyticsZipCode">Text / SMS</p>
						<input
							v-if="analyticsZipCode"
							v-model="phoneNumberInput"
							@keyup.enter="setPhoneNumber()"
							:class="{ invalid: !validPhone }"
							id="pN"
						/>
						<a class="btn" @click="setPhoneNumber()" v-if="analyticsZipCode"
							>Get Notified</a
						>
					</div>
				</div>
				<div
					class="surgePageContent"
					id="Analytics"
					v-if='currentPage==="Analytics"'
				>
					<div class="title">
						<h1>Analytics</h1>
					</div>
					<div class="underTitle onlyDesktop"></div>
					<div class="graphContainer">
						<h3 class="chartTitle">Forcasted Hourly LMPs</h3>
						<div class="floater onlyDesktop" id="next24ChartContainer"></div>
						<div class="floater onlyMobile" id="next24ChartContainerM"></div>
					</div>
					<div class="graphContainer">
						<h3 class="chartTitle">
							Average Hourly LMPs for
							<div class="dropdown">
								<button id="monthPicker" class="chartInput">
									{{month}}
								</button>
								<div class="dropContent">
									<a @click="V.month = 'January'">January</a>
									<a @click="V.month = 'February'">February</a>
									<a @click="V.month = 'March'">March</a>
									<a @click="V.month = 'April'">April</a>
									<a @click="V.month = 'May'">May</a>
									<a @click="V.month = 'June'">June</a>
									<a @click="V.month = 'July'">July</a>
									<a @click="V.month = 'August'">August</a>
									<a @click="V.month = 'September'">September</a>
									<a @click="V.month = 'October'">October</a>
									<a @click="V.month = 'November'">November</a>
									<a @click="V.month = 'December'">December</a>
								</div>
							</div>
						</h3>
						<div class="floater onlyDesktop" id="month24ChartContainer"></div>
						<div class="floater onlyMobile" id="month24ChartContainerM"></div>
					</div>
				</div>
				<div class="surgePageContent" id="About" v-if='currentPage==="About"'>
					<div class="title">
						<h1>About</h1>
					</div>
					<div class="underTitle onlyDesktop"></div>
					<div class="aboutContent">
						<h3>What are Peak Hours?</h3>
						<p>
							Consumer demand for electricity varies greatly throughout the day,
							and utilities respond by price gouging during peak hours to
							disincentivize use. “Regular” peak hours occur at predictable
							times and follow daily, weekly, and seasonal trends, while
							“critical” peak hours occur during rare events such as summer heat
							waves. When price gouging is unsuccessful at lowering demand,
							utilities contribute extra capacity with “peaker” plants: small
							and inefficient natural gas plants that generate among the
							nation’s worst pollution. In especially rare peak hours, peaker
							plants alone cannot meet demand and consumers are faced with
							brownouts.
						</p>
						<p>
							Most consumers aren’t aware of the hours when they should reduce
							consumption and end up paying over 10x as much per kWh to run
							everyday appliances during peak hours. With our application, users
							will be notified when surge pricing is likely to occur in order to
							save money and save the planet.
						</p>
						<h3>How Does it Work?</h3>
						<p>
							SurgeSaver tracks live and Day-Ahead Locational Marginal Pricing
							(LMP) across over 20 utilities in the Midwest and Mid Atlantic
							that fall within the PJM transmission zone. We establish a price
							threshold for delivering notifications, and alert users when price
							gouging is likely to occur within the next 24 hours. In our
							Analytics page, we display informative visualizations of price
							trends.
						</p>
						<p>A dynamic response to price gouging could include:</p>
						<ul>
							<li>
								Advancing and/or delaying the use of heavy appliances such as
								water heaters and air conditioners, many of which are
								programmable from a mobile phone or other remote source.
							</li>
							<li>
								Drawing electricity usage from a battery unit during peak hours.
							</li>
							<li>
								Deploying battery capacity onto the grid during peak hours to
								sell unused electricity at high rates.
							</li>
						</ul>
						<h3>How does it help?</h3>
						<p>
							Smoothing electricity consumption provides many financial and
							environmental benefits. As long as aggregate electricity demand
							follows a non-uniform distribution, savings can be accrued by
							navigating consumption towards off-peak hours where electricity is
							less expensive. Doing so allows utilities to reduce usage of dirty
							peaker plants and maintain cleaner air. This also eliminates wear
							and tear on the electrical grid, minimizing maintenance and
							voltage regulation costs, thus pushing your utility bill even
							lower!
						</p>
						<p>
							Often regarded as the primary pitfall of renewable energy is its
							fluctuating supply that can cause frequent and unpredictable power
							outages if representing a large proportion of a grid’s energy
							portfolio. This is because renewable sources are dependent on
							specific weather conditions and it’s generation plummets on cloudy
							and non-windy days. In order to feasibly increase the supply of
							renewables, consumers must match their demand with its inherently
							variable supply in a dynamic manner such as responsive consumption
							and battery storage. Many states across the nation have imposed
							aggressive renewable energy goals. Sign up now to do your part in
							making renewable energy feasible!
						</p>
					</div>
				</div>
				<div class="surgePageContent" id="FAQ" v-if='currentPage==="FAQ"'>
					<div class="title">
						<h1>FAQ</h1>
					</div>
					<div class="underTitle onlyDesktop"></div>
					<div class="aboutContent">
						<h3>How does the text alert service work?</h3>
						<p>After you enter your zip code, you will be given the opportunity to enter your number to receive text alerts. We partner
						with Twilio to send out these alerts whenever we detect peak energy usage. You will receive an SMS text 3 hours in
						advance in order to provide adequate time to adjust your consumption schedule.</p>
						<h3>How do we determine peak-hours?</h3>
						<p>Based on historical and forecasted data, we determine exactly when the highest prices would occur during the day. We
						then notify you via text alerts at least three hours in advance so that you can make the necessary adjustments.</p>
						<h3>What do I do when I get a notification?</h3>
						<p>As soon as you get a notification, you should begin to modify your energy use. Consider delaying when you use heating or
						cooling systems until after the peak period has ended.</p>
						<h3>What is price gouging?</h3>
						<p>Price Gouging occurs when a seller increases the prices of goods or services to a level that is much higher than what
						would be considered reasonable or fair. In this context, many energy suppliers will spike their prices in response to a
						sudden demand shock.</p>
						<h3>How often do you update your forecasts?</h3>
						<p>We use real-time data to update our models and analytics. If there is a change in your predicted peak-hours, you will
						see the change reflected almost immediately.</p>
						<h3>What is the difference between the two graphs on the analytics page?</h3>
						<p>The first graph provides a forecasted model for peak pricing today whereas the second graph shows you the historical
						average pricing for a month of your choosing, allowing you to compare today’s pricing to historical trends.</p>
						<h3>What is LMP?</h3>
						<p>Locational Marginal Pricing (LMP) reflects the value of electricity at different locations, and is the price at which
						electricity is traded in the wholesale market. LMP is relevant for large consumers that purchase electricity wholesale
						as well as for residents and businesses purchasing directly from their local utility. This is because utility rates,
						which comprise the retail market, are derived from the underlying wholesale market activity. LMP is calculated as the
						price of an increment of electricity after accounting for the congestion and transmission losses of delivering that
						electricity.</p>
					</div>
				</div>

				<div class="footer">
					<div class="underTitle onlyDesktop"></div>
					<div class="foot">
						<div>
							<p class="listed">Mail: <span>support@surgesaver.com</span></p>
							<p class="listed">Twitter: <span>@surgesaver</span></p>
							<p class="listed">Instagram: <span>@surgesaver</span></p>
						</div>
						<div>
							<p>&copy; <span>2020 SurgeSaver</span></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script src="graph.js"></script>
	<script src="index.js"></script>
</html>
