<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />

		<title>SurgeSaver</title>
		<meta name="description" content="" />
		<meta
			name="author"
			content="Anubis Watal, Neil Kothari, Tessa Danehy & Lukas Houpt"
		/>

		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<link
			href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
			integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
			crossorigin="anonymous"
		/>
		<link
			rel="stylesheet"
			type="text/css"
			href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
		/>
		<link href="index.css" rel="stylesheet" />

		<link rel="icon" type="image/png" href="icon.png" />

		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
		<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
	</head>

	<body>
		<div id="surge">
			<div class="navigationContainer">
				<div class="logoContainer">
					<img class="logo" src="logo.png" />
				</div>
				<hr class="underLogo" />
				<div class="navigation">
					<div class="navHeader">
						<p>USER</p>
					</div>
					<div
						class="navigationItem"
						:class='{ selected: currentPage==="Home" }'
						@click='changePage("Home")'
					>
						<div class="navSec">
							<p><i class="fa fa-home"></i> Home</p>
						</div>
						<div v-if='currentPage==="Home"' class="navigationHighlight"></div>
					</div>
					<div
						v-if="analyticsZipCode"
						class="navigationItem"
						:class='{ selected: currentPage==="Analytics" }'
						@click='changePage("Analytics")'
					>
						<div class="navSec">
							<p><i class="fa fa-chart-line"></i> Analytics</p>
						</div>
						<div
							v-if='currentPage==="Analytics"'
							class="navigationHighlight"
						></div>
					</div>
					<div class="navHeader">
						<p>GENERAL</p>
					</div>
					<div
						class="navigationItem"
						:class='{ selected: currentPage==="About" }'
						@click='changePage("About")'
					>
						<div class="navSec">
							<p><i class="fa fa-atom"></i> About</p>
						</div>
						<div v-if='currentPage==="About"' class="navigationHighlight"></div>
					</div>
					<div
						class="navigationItem"
						:class='{ selected: currentPage==="FAQ" }'
						@click='changePage("FAQ")'
					>
						<div class="navSec">
							<p><i class="fa fa-life-ring"></i> FAQ</p>
						</div>
						<div v-if='currentPage==="FAQ"' class="navigationHighlight"></div>
					</div>
				</div>
			</div>

			<div class="surgeInfoContainer">
				<div class="onlyMobile mLogo">
					<i
						class="logoSideMenu fa fa-bars"
						v-if="!mobileMenuOpen"
						@click="toggleMobileMenu()"
					></i>
					<i
						class="logoSideMenu fa fa-times"
						v-if="mobileMenuOpen"
						@click="toggleMobileMenu()"
					></i>
					<div class="logoContainer">
						<img class="logo" src="logo.png" />
					</div>
					<i class="logoSideMenu"></i>
				</div>
				<div class="onlyMobile mNavContainer" v-if="mobileMenuOpen">
					<div
						class="mNavItem"
						:class='{ mselected: currentPage==="Home" }'
						@click='changePage("Home")'
					>
						<p><i class="fa fa-home"></i> Home</p>
					</div>
					<div
						class="mNavItem"
						v-if="analyticsZipCode"
						:class='{ mselected: currentPage==="Analytics" }'
						@click='changePage("Analytics")'
					>
						<p><i class="fa fa-chart-line"></i> Analytics</p>
					</div>
					<div
						class="mNavItem"
						:class='{ mselected: currentPage==="About" }'
						@click='changePage("About")'
					>
						<p><i class="fa fa-atom"></i> About</p>
					</div>
					<div
						class="mNavItem"
						:class='{ mselected: currentPage==="FAQ" }'
						@click='changePage("FAQ")'
					>
						<p><i class="fa fa-life-ring"></i> FAQ</p>
					</div>
				</div>
				<div class="surgePageContent" id="Home" v-if='currentPage==="Home"'>
					<div class="title">
						<h1>
							Save Money. <br class="onlyMobile" />
							Save the Planet.
						</h1>
					</div>
					<div class="underTitle onlyDesktop"></div>
					<div class="infoContainer">
						<div class="section" v-for="hs in homeInfoSections">
							<div class="floater" @click="hs.click()">
								<h3 class="sectionHeader">{{hs.title}}</h3>
								<div class="regIconContainer">
									<i class="bigIcon fa" :class="hs.icon"></i>
								</div>
								<p>{{hs.content}}</p>
							</div>
						</div>
					</div>
					<div class="surgeInputs">
						<p class="inputTitle">Zipcode</p>
						<input
							v-model="analyticsZipCodeInput"
							@keyup.enter="setZipcode()"
							:class="{ invalid: !validZipCodeInput }"
							id="zI"
						/>
						<a class="btn" @click="goToAnalytics()" v-if="analyticsZipCode"
							>Go To Analytics</a
						>
						<h4 class="inputTexts" v-if="analyticsZipCode">
							Where should we send Peak Hour Notifications?
						</h4>
						<p class="inputTitle" v-if="analyticsZipCode">Text / SMS</p>
						<input
							v-if="analyticsZipCode"
							v-model="phoneNumberInput"
							@keyup.enter="setPhoneNumber()"
							:class="{ invalid: !validPhone }"
							id="pN"
						/>
						<a class="btn" @click="setPhoneNumber()" v-if="analyticsZipCode"
							>Get Notified</a
						>
					</div>
				</div>
				<div
					class="surgePageContent"
					id="Analytics"
					v-if='currentPage==="Analytics"'
				>
					<div class="title">
						<h1>Analytics</h1>
					</div>
					<div class="underTitle onlyDesktop"></div>
					<div class="graphContainer">
						<h3 class="chartTitle">Forcasted Hourly LMPs</h3>
						<div class="floater onlyDesktop" id="next24ChartContainer"></div>
						<div class="floater onlyMobile" id="next24ChartContainerM"></div>
					</div>
					<div class="graphContainer">
						<h3 class="chartTitle">
							Average Hourly LMPs for
							<div class="dropdown">
								<button id="monthPicker" class="chartInput">
									{{month}}
								</button>
								<div class="dropContent">
									<a @click="V.month = 'January'">January</a>
									<a @click="V.month = 'February'">February</a>
									<a @click="V.month = 'March'">March</a>
									<a @click="V.month = 'April'">April</a>
									<a @click="V.month = 'May'">May</a>
									<a @click="V.month = 'June'">June</a>
									<a @click="V.month = 'July'">July</a>
									<a @click="V.month = 'August'">August</a>
									<a @click="V.month = 'September'">September</a>
									<a @click="V.month = 'October'">October</a>
									<a @click="V.month = 'November'">November</a>
									<a @click="V.month = 'December'">December</a>
								</div>
							</div>
						</h3>
						<div class="floater onlyDesktop" id="month24ChartContainer"></div>
						<div class="floater onlyMobile" id="month24ChartContainerM"></div>
					</div>
				</div>
				<div class="surgePageContent" id="About" v-if='currentPage==="About"'>
					<div class="title">
						<h1>About</h1>
					</div>
					<div class="underTitle onlyDesktop"></div>
				</div>
				<div class="surgePageContent" id="FAQ" v-if='currentPage==="FAQ"'>
					<div class="title">
						<h1>FAQ</h1>
					</div>
					<div class="underTitle onlyDesktop"></div>
				</div>

				<div class="footer">
					<div class="underTitle onlyDesktop"></div>
					<div class="foot">
						<div>
							<p class="listed">Mail: <span>support@surgesaver.com</span></p>
							<p class="listed">Twitter: <span>@surgesaver</span></p>
							<p class="listed">Instagram: <span>@surgesaver</span></p>
						</div>
						<div>
							<p>&copy; <span>2020 SurgeSaver</span></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script src="graph.js"></script>
	<script src="index.js"></script>
</html>
