$white: #ffffff
$offWhite: rgb(247, 249, 252)
$Dorange: rgb(239, 67, 24)
$Morange: rgb(250, 110, 34)
$Yorange: rgb(249, 146, 42)
$Yellow: rgb(247, 220, 51)

$reg: 'Nunito', sans-serif
$semi-bold: 'Nunito-SemiBold', 'Nunito', sans-serif
$bold: 'Nunito-Bold', 'Nunito', sans-serif
$xbold: 'Nunito-ExtraBold', 'Nunito', sans-serif
$xxbold: 'Nunito-Black', 'Nunito', sans-serif

$sm: 640px
$md: 768px
$lg: 1024px
$xl: 1280px

.hidden
    display: none
    opacity: 0

=linear-gradient($direction, $color-stops...)
    background: -webkit-linear-gradient(legacy-direction($direction), $color-stops)
    background: linear-gradient($direction, $color-stops)

=box-shadow($args...)
    -webkit-box-shadow: $args
    -moz-box-shadow: $args
    box-shadow: $args

=border-radius($radius: 4px)
    -webkit-border-radius: $radius
    -moz-border-radius: $radius
    border-radius: $radius
    -webkit-background-clip: padding-box
    -moz-background-clip: padding
    background-clip: padding-box

=transform($transforms)
    -moz-transform: $transforms
    -o-transform: $transforms
    -ms-transform: $transforms
    -webkit-transform: $transforms
    transform: $transforms

=transition($transition)
    -moz-transition: $transition
    -o-transition: $transition
    -webkit-transition: $transition
    transition: $transition

=animate($name, $duration, $timing: ease)
    animation-name: $name
    -webkit-animation-name: $name
    animation-duration: $duration
    -webkit-animation-duration: $duration
    animation-timing-function: $timing
    -webkit-animation-timing-function: $timing
    visibility: visible !important

=float($color: rgba(50, 50, 98, 0.1))
    display: flex
    +box-shadow(0 5px 15px $color, 0 5px 15px rgba(0, 0, 0, 0.07))
    +transform(scale(1, 1))
    +transition(all 0.15s ease)
    &:hover
        +box-shadow(0 5px 15px $color, 0 8px 15px rgba(0, 0, 0, 0.07))
        +transform(scale(1.02, 1.02))
    &:focus
        +box-shadow(0 5px 15px $color, 0 8px 15px rgba(0, 0, 0, 0.07))
        +transform(scale(1.02, 1.02))

=lowfloat($color: rgba(50, 50, 98, 0.02))
    display: flex
    +box-shadow(2px 5px 15px $color, 0 5px 15px rgba(0, 0, 0, 0.02))

@keyframes slideUp
    0%
        transform: translateY(100%)
        opacity: 0
    50%
        transform: translateY(-8%)
        opacity: 0.5
    65%
        transform: translateY(4%)
        opacity: 0.75
    80%
        transform: translateY(-4%)
        opacity: 1
    95%
        transform: translateY(2%)
    100%
        transform: translateY(0%)

.onlyMobile
    display: none !important
    @media screen and (max-width: $md)
        display: flex !important

.onlyDesktop
    display: flex !important
    @media screen and (max-width: $md)
        display: none !important

#surge
    display: flex
    flex-direction: row
    font-family: $reg

.navigationContainer
    display: flex
    flex-direction: column
    min-height: 100vh
    height: 100%
    max-width: 17%
    width: 17%
    +linear-gradient(180deg, $Dorange, $Morange, $Yorange, $Yellow)
    @media screen and (max-width: $md)
        display: none

.logoContainer
    height: 75px
    width: 100%
    display: flex
    justify-content: center

.logo
    margin-top: 10px
    margin-bottom: 5px
    object-fit: scale-down
    height: auto
    width: auto
    max-width: 500px
    max-height: 300px

.underLogo
    width: 70%
    display: block
    height: 3px
    border: 0
    border-top: 3px solid rgba(255, 255, 255, 30%)
    padding: 0

.navigation
    height: 70vh
    margin-top: 35px

.navHeader
    margin-left: 15%
    p
        color: rgba(255, 255, 255, 50%)
        font-size: 1.0em

.navigationItem
    height: 40px
    width: 100%
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    cursor: pointer
    .navSec
        padding-left: 16%
        width: 100%
        p
            color: rgba(255, 255, 255, 70%)
            font-size: 1.2em
            i
                color: rgba(255, 255, 255, 50%)
                margin-right: 10px
                font-size: 1.2em
    &.selected
        .navSec
            padding-left: 16%
            width: 100%
            p
                color: $white
                i
                    color: $Yellow
                    margin-right: 10px

.navigationHighlight
    width: 0
    height: 0
    border-top: 10px solid transparent
    border-bottom: 10px solid transparent
    border-right: 10px solid $offWhite

.surgeInfoContainer
    display: flex
    flex-direction: column
    justify-content: space-between
    height: 100%
    min-height: 100vh
    min-width: 83%
    background: $offWhite
    @media screen and (max-width: $md)
        width: 100%

.surgePageContent
    padding-left: 2.5%
    padding-right: 2.5%
    height: 100%
    .title
        height: 75px
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center
        h1
            margin-top: 1em
            font-size: 1.5em
    @media screen and (max-width: $md)
        padding-left: 8%
        padding-right: 8%
        padding-top: 8px
        padding-bottom: 8px
        .title
            margin-top: 24px
            height: 72px

.underTitle
    width: 100%
    height: 3px
    border: 0
    border-top: 3px solid rgb(229, 231, 235)
    margin-top: 5px
    padding: 0

.footer
    min-height: 4vh
    max-height: 100px
    display: flex
    flex-direction: column
    padding-left: 2.5em
    padding-right: 2.5em
    padding-bottom: 10px
    padding-top: 0px
    font-size: 14px
    .foot
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center
        p
            color: rgb(185, 189, 193)
        .listed
            padding-right: 30px
            color: rgb(185, 189, 193)
        span
            color: rgb(112, 119, 126)
        div
            display: flex
            flex-direction: row
        @media screen and (max-width: $sm)
            flex-direction: column
            align-items: flex-start

.surgeInputs
    margin-top: 32px

.inputTitle
    margin: 5px 0px
    font-size: 1.3em

.inputTexts
    font-size: 1.2em

input
    color: #454565
    font-family: $bold
    font-weight: 700
    outline: none
    text-decoration: none
    border: none
    font-size: 1.4em
    margin: 10px 0px
    padding: 10px 20px
    +border-radius(8px)
    +lowfloat()
    +transform(scale(1, 1))
    +transition(all 0.15s ease)
    background: $white
    &:hover
        +float()
        +transform(scale(1.02, 1.02))

.infoContainer
    display: flex
    flex-direction: row
    margin-top: 32px
    @media screen and (max-width: $md)
        flex-direction: column
        margin-top: 8px

.section
    width: calc(83vw/3)
    display: flex
    flex-direction: column
    align-items: center
    text-align: center
    justify-content: space-between
    margin: 10px 0px
    &:first-of-type
        margin-left: 0px
        margin-right: 2.5%
    &:last-of-type
        margin-left: 2.5%
        margin-right: 0px
    @media screen and (max-width: $md)
        width: 100%
        margin: 10px 0px
        &:first-of-type
            margin: 10px 0px
        &:last-of-type
            margin: 10px 0px
    .floater
        display: flex
        cursor: pointer
        flex-direction: column
        align-items: center
        text-align: center
        justify-content: space-between
        width: 100%
        height: 100%
        background: $white
        +lowfloat()
        +border-radius(10px)
        p
            font-family: $semi-bold
            font-size: 1.3em
            padding: 0 15%
        &:hover
            +float()

.bigIcon
    font-size: 82px
    &.fa-map-signs
        color: $Yellow
    &.fa-bolt
        color: $Yellow
    &.fa-globe-americas
        color: $Morange

.sectionHeader
    color: #454565
    font-size: 1.6em
    padding: 0 15px

.regIconContainer
    display: flex
    flex-direction: column
    align-items: center

.mLogo
    flex-direction: row
    align-items: center
    justify-content: center
    +linear-gradient(90deg, $Dorange, $Morange, $Yorange, $Yellow)
    height: 76px
    .logoContainer
        height: 76px
        .logo
            max-width: 80%
            object-fit: scale-down

.graphContainer
    width: 100%
    max-height: 400px
    margin: 25px 0
    .floater
        display: flex
        cursor: pointer
        flex-direction: column
        align-items: center
        text-align: center
        justify-content: space-between
        width: 100%
        height: 100%
        background: $white
        +lowfloat()
        +border-radius(10px)

.dropdown
    position: relative
    margin-left: 12px
    display: inline-block
    &:hover
        .dropContent
            display: block
    .dropContent
        display: none
        height: 300px
        overflow-y: auto
        position: absolute
        background-color: #f9f9f9
        min-width: 160px
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2)
        z-index: 1
        a
            color: black
            font-size: 0.9em
            color: #454565
            font-family: $bold
            font-weight: 700
            padding: 10px 20px
            text-decoration: none
            display: block
            &:hover
                background-color: #f1f1f1

.chartInput
    +border-radius(8px)
    +lowfloat()
    display: inline-block
    max-width: 250px
    min-width: 80px
    width: 100%
    height: auto
    font-size: 1.1em
    color: #454565
    font-family: $bold
    font-weight: 700
    outline: none
    text-decoration: none
    border: none
    margin: 10px 0px
    padding: 10px 20px
    appearance: none
    background: $white
    cursor: pointer
    &:hover
        +float()
        +transform(scale(1.02, 1.02))
        display: inline-block

.invalid
    border: 3px solid $Dorange !important

.btn
    font-family: $reg
    font-weight: 700
    outline: none
    cursor: pointer
    text-align: center
    text-decoration: none
    +border-radius()
    background: $Morange
    +lowfloat()
    font-size: 1.17em
    padding: 13px 20px
    color: $white
    width: 150px
    text-align: center
    align-items: center
    display: flex
    justify-content: center
    margin-top: 25px
    &:hover
        +float()